<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whh.initmvp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于硬盘缓存和读取-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--版本信息 start-->
        <!--<activity android:name=".activity.HttpAppVersionActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--版本信息 end-->
        <!--=================================================-->

        <!--&lt;!&ndash;天气信息 start&ndash;&gt;-->
        <!--<activity android:name=".activity.WeatherActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash;天气信息 end&ndash;&gt;-->
        <!--=================================================-->

        <!--GitUser信息 start-->
        <activity android:name=".activity.GitUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--GitUser信息 end-->
        <!--=================================================-->


        <!--EventBus-->
        <activity
            android:name=".activity.EventBusActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.whh.eventbus3.activity.EventBus2Activity"
            android:launchMode="singleTask" />

        <!--Glide-->
        <activity android:name=".activity.GlideActivity" />

        <!--RecyclerView-->
        <activity android:name=".activity.RecyclerViewActivity" />

    </application>

</manifest>